a{
font-size: 250%;

}

.b1{
  font-size: large;
  margin-left: 500px;
  background-color: rgb(92, 92, 92);
  color: white;
}

.b2
{
  font-size: large;
  margin-left: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
}

