
<nav @fade class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="../home"><img src="assets/images/PEACE2UNITE-removebg-preview.png" alt="Logo" title="" style="height: 80px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" routerLink="../ourreach" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Our Reach</a>
        <a class="nav-link" aria-current="page" routerLink="../about" routerLinkActive="active-link">About us</a>
        <a class="nav-link" aria-current="page" routerLink="../news" routerLinkActive="active-link">News and Articles</a>
        <button class="b1" mat-raised-button>Donate</button>
        <button class="b2" mat-raised-button>Get Involve</button>
      </div>

      <div class="buttons">

      </div>
    </div>
  </div>
</nav>
