<div @fade class="container">
  <div class="box1">
    <h1>ADVOCACY</h1>
  </div>
  <div class="box2">
    <h2>
    We speak out so that people suffering because of war are recognised and given the attention they deserve.
     We ensure that the voices of local people building peace are listened to by the world.
    We won’t stop until those in power are responsive to the needs and rights of people in conflict.
    Peace only lasts when local people are part of the solution. <br>
    With enough support, we can ensure that wherever there are local people building peace,
    the international community backs them. <br> <br>

    We focus on improving the policies and practice of international funders and policymakers to include
    local peacebuilding. We use the knowledge of local people building peace to inform and shape national
    and international policies.
    </h2>
  </div>
</div>
