<section @fade>
<div class="wrap">
    <h1>News and Articles</h1>

    <div>
      <h2 class="titles">The Roots of the Ukraine War: How the Crisis Developed</h2>
      <p>by Dan Bilefsky, Richard Pérez-Peña and Eric Nagourney April 21, 2022)</p>
      <p>
        Vladimir V. Putin ordered Russian forces to invade Ukraine on February 24. The largest mobilization of forces Europe has seen since 1945 is underway. The invasion threatens to destabilize the already volatile post-Soviet region. It could also have consequences for the security structure that has governed Europe since the 1990s.
        <br>
        <br>
        <strong>What’s behind the Ukraine crisis?</strong>
        <br>
        <br>
        NATO expanded eastward after the Soviet Union's collapse. In 2008, it stated that it planned — someday — to enrol Ukraine. Vladimir Putin calls NATO's expansion menacing, and the prospect of Ukraine joining it a threat. He has repeatedly invoked the specter of U.S. ballistic missiles in Ukraine. Moscow also fomented a separatist rebellion that took control of part of Donbas, leading to a war that has killed thousands.
        <br><br>
        <strong>What does Putin want?</strong>
        <br><br>
        Vladimir Putin appears intent on winding back the clock more than 30 years. He clearly wants to draw Ukraine back into Russia's sphere of influence. Moscow's aggressive posture has inflamed Ukrainian nationalism, with citizen militias preparing for a long guerrilla campaign in the event of an invasion.
        <br>
        <br>
        <strong>How is the United States responding?</strong>
        <br>
        <br>
        The United States has sent anti-tank and antiaircraft weapons to Ukraine. Mr. Biden has also prohibited energy imports from Russia to the United States. The Biden administration could also institute sanctions that could deprive Russians of their beloved next-generation phones. U.S. and European financial penalties are throttling banks and other businesses in Russia.
        <br>
        <br>
        <strong>What’s at stake for Europe?</strong>
        <br>
        <br>
        At stake for Europe is the security structure that has helped keep the peace since World War II. Europeans were initially divided over how to respond to various forms of Russian aggression. But outrage over Mr Putin's aggression has helped foster a unified front in the E.U.
      </p>
    </div>

  <div>
      <h2 class="titles">Ukrainians injured or killed by unexploded ammunition</h2>
      <p>by BBC News. (2022, April 22)</p>
      <p>
        Across Ukraine’s Kyiv region, efforts have begun to clear the countless pieces of unexploded ammunition left behind after fierce fighting.
        The main hospital there says it’s receiving increasing numbers of patients who’ve touched or stepped on mines and shells.
        The State Emergency Service, police and army all have expert teams working on the ground to make the area safe.
      </p>
  </div>
  <div>
    <h2 class="titles">Putin’s Ukraine invasion is turning into a ‘grinding war’ where nobody wins</h2>
    <p>by Holly Ellyatt. (2022, March 23)</p>
    <p>
      “The war in Ukraine is likely heading towards a grinding war scenario — a stalemate phase
      during which both sides have limited ability to conduct offensive operations while the
      devastation and human suffering continues,” Andrius Tursa, Central and Eastern Europe
      advisor at Teneo Intelligence, said in a note this week. Russia`s offensive continues to advance
      slowly, Tursa noted, adding that “Moscow is resorting to more brutal warfare tactics (mainly
      aerial, missile and artillery bombardment) targeting non-military and civilian infrastructure in
      order to break public morale and resistance. ” <br> <br> This, he said, was exemplified by Russian forces
      appearing to be targeting food storage facilities and large shopping centers, such as a shopping
      mall destroyed in Kyiv on Monday, seen in this image below.
      <br>
      <br>
      <strong>How does this end?</strong>
      <br>
      <br>
      Ukraine has attracted much admiration around the world for its brave resistance to Russia`s
      forces, mass shelling, siege tactics, and what has widely appeared to be the targeting of civilian
      infrastructure, including residential buildings, hospitals and, most recently, a theater in which
      hundreds of people were sheltering. Ukrainian President Volodymyr Zelenskyy has appealed to
      leaders around the world, and particularly those in Europe and the U. S. , to supply more arms
      to Ukraine and to apply more sanctions to Russia`s already heavily sanctioned economy.
      <br>
      <br>
      On Tuesday, Zelenskyy warned that his country was “on the brink of survival” in the war, telling
      the Italian Parliament in an address via video link that Russia won`t stop at Ukraine.
    </p>
  </div>
  <div>
    <h2 class="titles">The War in Ukraine Is Poised to Become Much More Violent</h2>
    <p>by Paul D. Shinkman (2022, March 23)</p>
    <p>
      The war in Ukraine is poised to become significantly more violent and bloody in the coming days
      as Russia`s military prepares for new levels of brutality to break the burgeoning stalemate
      against Kyiv`s increasingly capable fighting forces. The British Ministry of Defense revealed
      Tuesday night that it believes Russia will soon begin employing “increasingly violent and coercive
      measures” against the Ukrainian people in the near future. Biden unveils new $800
      million military aid package for Ukraine Biden unveils new $800 million military aid package for
      UkraineNOW PLAYING Biden announces £612m in new military assistance for Ukraine Biden
      unveils another $800m in Ukraine military aid Now forces loyal to Russian President Vladimir
      Putin are left to find new ways to “attempt to suppress the Ukrainian population. ” The
      assessment came shortly before the State Department concluded Wednesday that, as
      President Joe Biden suggested last week, Russian forces across Ukraine have committed war
      crimes, specifically targeting infrastructure clearly used for civilian purposes, including hospitals,
      ambulances and schools.
      <br>
      <br>
      - Russian President Vladimir Putin announced a military operation in Ukraine today with
      explosions heard soon after across the country and its foreign minister warning a "full-scale
      invasion" was underway. Yet Ukraine`s persistence comes amid reports its troops have begun
      to move beyond successfully staving off Russian attacks and are beginning to engage in
      successful offensive operations.
      <br>
      <br>
      A senior U. S. defense official told reporters on the condition of anonymity on Tuesday that Ukrainian
      forces “are now able and willing to take back territory that the Russians have taken. ” Reports emerged
      Wednesday morning that forces loyal to Ukraine had succeeded in driving Russian troops out of
      Makariv, a suburb of Kyiv that remains encircled, providing a much-needed success story as
      Ukrainian President Volodymyr Zelenskyy continues his campaign of appealing to world powers
      for more support to his country`s military.
      <br>
      <br>
      The U. S. has not yet announced its plan for how it will deliver to Ukraine $1 billion in new aid Biden
      announced last week. Nor is it known whether Russian forces will attempt to disrupt Western
      supply lines of new military equipment to bolster Ukraine`s fighting forces - what Russian
      Foreign Minister Sergey Lavrov last week called “fair game” for preemptive strikes. And Russia
      appears to have begun a reorganization of its fighting forces in Ukraine following weeks of
      reports that its troops remained bogged down by poor leadership, inadequate resupply and
      plummeting morale. View All 20 Images The Russian military last week began a major troop
      rotation of these forces, analysts observe.
      <br>
      <br>
      “Other than the Russian units already in transit to the front lines in Ukraine, the mobilization that
      Russia is engaging in will generate further fighting power in months at the earliest,” Orr says.
      The initiative has taken on new urgency for the Kremlin amid persistent and, in places,
      worsening casualty counts among its forces and widespread reports of low troop morale.
    </p>
  </div>
</div>
</section>
